*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Titillium Web', sans-serif;
	

}

.logo {
	position: absolute;
    top: -10px;
    right: 5px;
    width: 80px;
    height: auto;
}

.link {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  margin-top: 70px;
}

.nowshowing {
	margin-top: 10px;
}

.comingsoon {
	margin-top: -50px;
}

a {
	position: relative;
	padding: 1px 20px;
	background-color: none;
	text-decoration: none;
	text-transform: uppercase;
	color: black;
	letter-spacing: 0.4px;
	font-size: 20px;
}

.link:hover {
	color: white;
	background-color: black;
    transition: 0.5s;
}

.link {
	text-align: center;


}

.row1 {
	display: flex;	
	flex-direction: column;
	justify-content: center;
	padding-top: 130px;
	pointer-events: none;
}

.row2 {
	display: flex;	
	flex-direction: column;
	justify-content: center;
	padding-top: 130px;
	pointer-events: none;
}


.row1 img {
	max-width: 80%;
	position: relative;
	left: 50%;
	transform: translate(-50%);
	padding: 10px;

	pointer-events: auto;

}

.row2 img {
	max-width: 80%;
	position: relative;
	left: 50%;
	padding: 10px;

	transform: translate(-50%);
	pointer-events: auto;

}

.footer {
	margin-top: 50px;
	max-width: 90%;
	padding: 10px;
	
}

.footer a {
	margin-top: -10px;
}

.col1 {
	position: absolute;
	margin-top: 70px;
	left: 50%;
	transform: translate(-50%);
	margin-bottom: 20px;
	padding: 20px;
	padding-bottom: 60px;
	border: 1px solid black;
}

.col3 {
	position: absolute;
	margin-top: 400px;
	left: 50%;
	transform: translate(-50%);
	padding: 20px;
	padding-bottom: 30px;
	border: 1px solid black;
}

footer {
	margin-top: 10px;
	margin-bottom: 700px;

}

.col1 h1 {
	font-size: 20px;
	font-weight: normal;
	text-transform: uppercase;
	margin-bottom: 10px;

}

.col3 h1 {
	font-size: 20px;
	font-weight: normal;
	text-transform: uppercase;
	margin-bottom: 10px;

}

form input {
	width: 130px;
	height: 25px;
	border-radius: 4px;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 40px;
	outline: none;
	border: none;

}

form button {
	background: transparent;
	border: 1px solid black;
	color: black;
	padding: 2px 10px;
	font-size: 15px;
	cursor: pointer;
}

form button:hover {
	background: black;
	border: 1px solid white;
	color: white;
	cursor: pointer;
	transition: 0.5s;
}

.icons {
	margin-top: 10px;
}

.icons i {
	font-size: 20px;
	margin: 5px;
	cursor: pointer;
}

th, td {
	padding: .1rem;
	font-size: .7rem;

}